<!DOCTYPE html> 
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>New sign in to Steam</title>
    <style type="text/css" media="screen">
        @font-face {
            font-family: 'Motiva Sans';
            font-style: normal;
            font-weight: 300;
            src: local('Motiva Sans'), url('https://store.fastly.steamstatic.com/public/shared/fonts/email/MotivaSans-Light.woff') format('woff');
        }
        @font-face {
            font-family: 'Motiva Sans';
            font-style: normal;
            font-weight: normal;
            src: local('Motiva Sans'), url('https://store.fastly.steamstatic.com/public/shared/fonts/email/MotivaSans-Regular.woff') format('woff');
        }
        @font-face {
            font-family: 'Motiva Sans';
            font-style: normal;
            font-weight: bold;
            src: local('Motiva Sans'), url('https://store.fastly.steamstatic.com/public/shared/fonts/email/MotivaSans-Bold.woff') format('woff');
        }
        body { padding:0 !important; margin:0 auto !important; display:block !important; min-width:100% !important; width:100% !important; background: #ffffff; -webkit-text-size-adjust:none; }
        .fallback-font { font-family: Arial, sans-serif, 'Motiva Sans' !important; }
    </style>
</head>

<body style="padding:0 !important; margin:0 auto !important; display:block !important; min-width:100% !important; width:100% !important; background:#ffffff; -webkit-text-size-adjust:none;">
<center>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
        <tr>
            <td align="center" valign="top">
                <table width="775" border="0" cellspacing="0" cellpadding="0" style="width:775px;">
                    <tr>
                        <td bgcolor="#212429" style="padding: 80px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="padding-bottom: 45px;">
                                        <a href="https://store.steampowered.com/" target="_blank">
                                            <img src="https://store.fastly.steamstatic.com/public/shared/images/email/logo.png" width="615" height="88" border="0" alt="Steam" />
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="fallback-font" style="font-size:28px; color:#ffffff; font-weight:bold; margin-bottom: 30px;">New sign in to Steam</p>
                                        <p class="fallback-font" style="font-size:18px; color:#dbdbdb; margin-bottom: 20px;">From your account "{{name}}"</p>
                                        
                                        <p class="fallback-font" style="font-size:23px; color:#dbdbdb; margin-bottom: 5px;">Location of sign in:</p>
                                        <p class="fallback-font" style="font-size:18px; color:#dbdbdb; margin-bottom: 30px;">{{place}}</p>
                                        
                                        <p class="fallback-font" style="font-size:23px; color:#dbdbdb; margin-bottom: 5px;">Authorized by:</p>
                                        <p class="fallback-font" style="font-size:18px; color:#dbdbdb; margin-bottom: 30px;">Steam Guard code from your email</p>

                                        <p class="fallback-font" style="font-size:18px; color:#dbdbdb; margin-bottom: 30px;">If the details above look familiar, you can safely ignore this email.</p>
                                        
                                        <p class="fallback-font" style="font-size:18px; color:#dbdbdb; margin-bottom: 30px;">
                                            If not, please <a href="{{link}}" style="color:#7abefa; text-decoration:underline;">reset your Steam password now</a>.
                                        </p>

                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#17191c">
                                            <tr>
                                                <td style="padding: 15px; border-radius: 5px;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td width="50"><img src="https://store.fastly.steamstatic.com/public/images//v6/ico/ico_info.png" alt="" /></td>
                                                            <td class="fallback-font" style="font-size:16px; color:#dbdbdb;">
                                                                Get the <a href="https://store.steampowered.com/about/mobile" style="color:#7abefa; text-decoration:underline;">Steam Mobile Authenticator</a> to view and control the devices that have access to your account.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

                                        <p class="fallback-font" style="font-size:16px; color:#f1f1f1; padding-top: 30px; border-left: 3px solid #3a9aed; padding-left: 20px;">
                                            Cheers,<br />The Steam Team
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="padding: 60px 90px;">
                            <p class="fallback-font" style="font-size:18px; color:#000001; text-align:left; margin-bottom: 40px;">
                                This notification has been sent to the email address associated with your Steam account.<br><br>
                                This email message was auto-generated. Please do not respond. If you need additional help, please visit <a href="https://help.steampowered.com" style="color:#000001; text-decoration:underline;">Steam Support</a>.
                            </p>
                            
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="165" valign="top">
                                        <a href="https://store.steampowered.com/" target="_blank">
                                            <img src="https://store.fastly.steamstatic.com/public/shared/images/email/logo_footer.png" width="165" height="50" border="0" alt="Steam" />
                                        </a>
                                    </td>
                                    <td style="padding-left: 20px;">
                                        <p class="fallback-font" style="font-size:12px; line-height:18px; color:#000001;">
                                            To download the Steam desktop client and learn more about Steam, please visit <a href="https://store.steampowered.com/about/" style="color:#000001; text-decoration:underline;">About Steam</a>.
                                        </p>
                                    </td>
                                </tr>
                            </table>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 30px;">
                                <tr>
                                    <td width="165" valign="top">
                                        <a href="https://www.valvesoftware.com/en/" target="_blank">
                                            <img src="https://store.fastly.steamstatic.com/public/shared/images/email/logo_valve.jpg" width="165" height="48" border="0" alt="Valve" />
                                        </a>
                                    </td>
                                    <td style="padding-left: 20px;">
                                        <p class="fallback-font" style="font-size:12px; line-height:18px; color:#000001;">
                                            <strong>© Valve Corporation</strong><br>
                                            <strong>PO Box 1688 Bellevue, WA 98009</strong><br><br>
                                            All rights reserved. All trademarks are property of their respective owners in the US and other countries.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>
</body>
</html>